@font-face {
  font-family: HyundaiSansBold;
  font-style: normal;
  font-display: swap;
  src: local('HyundaiSansBold'), url('/assets/fonts/HyundaiSansHeadKRBold.woff2') format('woff2'),
    url('/assets/fonts/HyundaiSansHeadKRBold.woff') format('woff');
}
@font-face {
  font-family: HyundaiSansMedium;
  font-style: normal;
  font-display: swap;
  src: local('HyundaiSansMedium'), url('/assets/fonts/HyundaiSansHeadKRMedium.woff2') format('woff2'),
    url('/assets/fonts/HyundaiSansHeadKRMedium.woff') format('woff');
}
@font-face {
  font-family: HyundaiSansRegular;
  font-style: normal;
  font-display: swap;
  src: local('HyundaiSansRegular'), url('/assets/fonts/HyundaiSansHeadKRRegular.woff2') format('woff2'),
    url('/assets/fonts/HyundaiSansHeadKRRegular.woff') format('woff');
}
